.pantheon-nav {
  margin-left: 12px;
  margin-right: 12px;
  position: relative;
}
@media (min-width: 1025px) {
  .pantheon-nav {
    position: fixed;
    margin-left: 80px;
  }
}
.pantheon-nav-title {
  color: var(--dark-grey);
  font-family: "Bubbler One";
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 16px;
  margin-top: 32px;
}
.pantheon-nav-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.pantheon-grec {
  display: flex;
  padding: 12px 8px;
  justify-content: space-between;
  align-items: center;
  min-width: 305px;
  width: 100%;
  border-radius: 8px;
  background: var(--blue);
  color: var(--white);
  font-family: "Caesar Dressing";
  font-size: 20px;
  font-weight: 400;
  border: none;
}
.pantheon-egypt {
  display: flex;
  padding: 12px 8px;
  justify-content: space-between;
  align-items: center;
  min-width: 305px;
  width: 100%;
  border-radius: 8px;
  background: var(--yellow);
  color: var(--white);
  font-family: "Caesar Dressing";
  font-size: 20px;
  font-weight: 400;
  border: none;
}
.pantheon-nord {
  display: flex;
  padding: 12px 8px;
  justify-content: space-between;
  align-items: center;
  min-width: 305px;
  width: 100%;
  border-radius: 8px;
  background: var(--green);
  color: var(--white);
  font-family: "Caesar Dressing";
  font-size: 20px;
  font-weight: 400;
  border: none;
}
.pantheon-romain {
  display: flex;
  padding: 12px 8px;
  justify-content: space-between;
  align-items: center;
  min-width: 305px;
  width: 100%;
  border-radius: 8px;
  background: var(--red);
  color: var(--white);
  font-family: "Caesar Dressing";
  font-size: 20px;
  font-weight: 400;
  border: none;
}
@media (max-width: 1025px) {
  .pantheon-egypt,
  .pantheon-grec,
  .pantheon-nord,
  .pantheon-romain {
    display: flex;
    align-self: stretch;
  }
}
