.pantheon-nav {
  margin-left: 12px;
  margin-right: 12px;
  position: relative;
}
@media (min-width: 1025px) {
  .pantheon-nav {
    position: fixed;
    margin-left: 80px;
    width: 305px;
  }
}

.pantheon-nav-title {
  color: var(--dark-grey);
  font-family: "Bubbler One";
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 16px;
  margin-top: 32px;
}
.pantheon-nav-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.pantheon-grec svg {
  stroke: var(--white);
}
.pantheon-grec {
  display: flex;
  padding: 12px 8px;
  justify-content: space-between;
  align-items: center;
  min-width: 305px;
  width: 100%;
  border-radius: 8px;
  background: var(--blue);
  color: var(--white);
  font-family: "Caesar Dressing";
  font-size: 20px;
  font-weight: 400;
  border: none;
  transition-duration: 0.5s;
}
.pantheon-grec:hover {
  background-color: var(--white);
  border: 1px solid var(--blue);
  color: var(--blue);
}
.pantheon-grec:hover svg {
  stroke: var(--blue);
}
.pantheon-egypt svg {
  stroke: var(--white);
}
.pantheon-egypt {
  display: flex;
  padding: 12px 8px;
  justify-content: space-between;
  align-items: center;
  min-width: 305px;
  width: 100%;
  border-radius: 8px;
  background: var(--yellow);
  color: var(--white);
  font-family: "Caesar Dressing";
  font-size: 20px;
  font-weight: 400;
  border: none;
  transition-duration: 0.5s;
}
.pantheon-egypt:hover svg {
  stroke: var(--yellow);
}
.pantheon-egypt:hover {
  background-color: var(--white);
  border: 1px solid var(--yellow);
  color: var(--yellow);
}
.pantheon-nord svg {
  stroke: var(--white);
}
.pantheon-nord {
  display: flex;
  padding: 12px 8px;
  justify-content: space-between;
  align-items: center;
  min-width: 305px;
  width: 100%;
  border-radius: 8px;
  background: var(--green);
  color: var(--white);
  font-family: "Caesar Dressing";
  font-size: 20px;
  font-weight: 400;
  border: none;
  transition-duration: 0.5s;
}
.pantheon-nord:hover svg {
  stroke: var(--green);
}
.pantheon-nord:hover {
  background-color: var(--white);
  border: 1px solid var(--green);
  color: var(--green);
}
.pantheon-romain svg {
  stroke: var(--white);
}
.pantheon-romain {
  display: flex;
  padding: 12px 8px;
  justify-content: space-between;
  align-items: center;
  min-width: 305px;
  width: 100%;
  border-radius: 8px;
  background: var(--red);
  color: var(--white);
  font-family: "Caesar Dressing";
  font-size: 20px;
  font-weight: 400;
  border: none;
  transition-duration: 0.5s;
}
.pantheon-romain:hover svg {
  stroke: var(--red);
}
.pantheon-romain:hover {
  background-color: var(--white);
  border: 1px solid var(--red);
  color: var(--red);
}
@media (max-width: 1025px) {
  .pantheon-egypt,
  .pantheon-grec,
  .pantheon-nord,
  .pantheon-romain {
    display: flex;
    align-self: stretch;
  }
}
