html {
  --blue: #279ef8;
  --yellow: #f8af27;
  --green: #12965d;
  --red: #f82727;

  --light-grey: #bcbfc3;
  --dark-grey: #515050;
  --white: #ffff;
  --black: #000000;
}
html[data-theme="dark"] {
  --blue: #a3d7ff;
  --yellow: #f7f43e;
  --green: #76e5b5;
  --red: #f8a7a7;

  --light-grey: #696a6c;
  --dark-grey: #f7f6f6;
  --white: #515050;
  --black: #fff;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
ul,
li {
  color: inherit;
  text-decoration: none;
  list-style: none;
}
.pantheon-nav-buttons li {
  width: 100%;
}
img,
video {
  display: block;
}
header {
  display: flex;
  padding: 20px 80px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  background: var(--light-grey);
}
@media (max-width: 1024px) {
  header {
    padding: 20px 12px;
    position: fixed;
    width: 100%;
    z-index: 3;
    top: 0px;
  }
}
html[data-theme="light"] #light-mode-btn {
  display: none;
}
html[data-theme="dark"] #dark-mode-btn {
  display: none;
}
html[data-theme="light"] #light-mode-btn-b {
  display: none;
}
html[data-theme="dark"] #dark-mode-btn-b {
  display: none;
}
body {
  background-color: var(--white);
}
