:root {
  --blue: #279ef8;
  --light-blue: #a3d7ff;
  --yellow: #f8af27;
  --light-yellow: #f7f43e;
  --green: #12965d;
  --light-green: #76e5b5;
  --red: #f82727;
  --light-red: #f8a7a7;

  --white: #ffff;
  --white-dark: #f7f6f6;
  --grey: #696a6c;
  --light-grey: #bcbfc3;
  --dark-grey: #515050;
  --black: #000000;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
ul,
li {
  color: inherit;
  text-decoration: none;
  list-style: none;
}
.pantheon-nav-buttons li {
  width: 100%;
}
img,
video {
  display: block;
}
header {
  display: flex;
  padding: 20px 80px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  background: var(--light-grey);
}
@media (max-width: 1024px) {
  header {
    padding: 20px 12px;
    position: fixed;
    width: 100%;
    z-index: 3;
    top: 0px;
  }
}
